<div class="row d-flex justify-content-center mt-5 ">
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= @place.name %></h5>
        <% if @place.parent %>
          <p class="card-text">local: <%= @place.parent.name %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-3-md">
    <%= link_to t('back'), places_path, class: "btn btn-primary" %>
  </div>
</div>
